<section class="aboutus" id="about-us">
  <div class="container aboutus-container">
    <div>
      <h2 class="aboutus-title">About Us</h2>
      <p class="aboutus-paragraph aboutus-paragraph-first">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>
      <p class="aboutus-paragraph">
        In "Vyshyvanka Vibes" you will find various models of embroidery, from
        classic to modern, corresponding to the latest fashion trends. Our
        embroidery is made using natural fabrics and is embroidered by highly
        qualified craftsmen who convey the beauty of Ukrainian culture in every
        detail.We believe that vyshyvanka is not just clothing, but a symbol of
        national pride, the heritage of our ancestors and a way of expressing
        one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
        unique history and symbolism, which gives it a special meaning.
      </p>
    </div>
    <div class="aboutus-img-container">
      <img
        class="aboutus-img"
        srcset="
          ./img/aboutus/aboutusmobile.jpg     335w,
          ./img/aboutus/aboutusmobile2x.jpg   670w,
          ./img/aboutus/aboutustablet.jpg     704w,
          ./img/aboutus/aboutustablet2x.jpg  1408w,
          ./img/aboutus/aboutusdesktop.jpg    545w,
          ./img/aboutus/aboutusdesktop2x.jpg 1090w
        "
        sizes="(min-width:1280px) 545px, (min-width:768px) 704px, (max-width:767px) 335px"
        src="./img/aboutus/aboutusmobile.jpg"
        alt="shirt sleeve"
      />
    </div>
  </div>
</section>
