<footer class="footer">
  <div class="container footer-container">
    <div class="footer-list-container">
      <ul class="footer-list-link">
        <li><a class="footer-link" href="#about-us">ABOUT US</a></li>
        <li>
          <a class="footer-link" href="#our-collection">OUR COLLECTION</a>
        </li>
      </ul>
      <ul class="footer-list-link">
        <li><a class="footer-link" href="#order">CUSTOMER ORDER</a></li>
        <li><a class="footer-link" href="#testimonials">TESTIMONIALS</a></li>
      </ul>
    </div>
    <div class="footer-text-container">
      <p class="footer-paragraph">
        A touch of <span class="footer-paragraph-part">Ukrainian</span> culture
        in every embroidery
      </p>
    </div>
  </div>
</footer>
