<section class="hero">
  <div class="container hero-container">
    <div class="hero-title-btn-container">
      <h1 class="hero-title">
        Reviving the traditional
        <span class="yellow-text">Ukrainian</span> artistry in every stitch.
      </h1>
      <a class="hero-btn" href="#order">
        Order
        <svg class="hero-btn-icon" width="26" height="15">
          <use href="./img/icons/symbol-defs.svg#icon-arow"></use>
        </svg>
      </a>
    </div>
    <img
      class="hero-img"
      srcset="
        ./img/hero/hero-img-mob.jpg        335w,
        ./img/hero/hero-img-mob@2x.jpg     670w,
        ./img/hero/hero-img-tab.jpg        413w,
        ./img/hero/hero-img-tab@2x.jpg     826w,
        ./img/hero/hero-img-desktop.jpg    392w,
        ./img/hero/hero-img-desktop@2x.jpg 784w
      "
      sizes="(min-width:1280px) 392px, (min-width:768px) 413px, (max-width:767px) 335px"
      src="./img/hero/hero-img-mob.jpg"
      alt="girl in embroidered shirt"
    />
    <div class="hero-icon-container">
      <svg class="hero-icon" width="52" height="51">
        <use href="./img/icons/symbol-defs.svg#icon-star"></use>
      </svg>
      <p class="hero-icon-text">all embroidery is made by hand</p>
    </div>
    <div class="hero-vyshivanka">
      <img
        class="vyshivanka-img"
        width="139"
        height="197"
        srcset="./img/hero/group.png 1x, ./img/hero/group@2x.png 2x"
        src="./img/hero/group.png"
        alt="vyshivanka"
      />
    </div>
  </div>
</section>
