<section class="section-collection" id="our-collection">
  <div class="container collection">
    <img
      class="collection-elements"
      srcset="
        ./img/our-collection/element-collection-desktop.png 337w,
        ./img/our-collection/element-collection-mob.png     199w
      "
      sizes="(min-width:768px) 337px, (min-width:320px) 199px"
      src="./img/our-collection/element-collection-mob.png"
      alt="elemets"
    />
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <div class="collection-img-wrapper">
          <img
            class="collection-img"
            srcset="
              ./img/our-collection/poltava-desktop.jpg    347w,
              ./img/our-collection/poltava-desktop@2x.jpg 694w,
              ./img/our-collection/poltava-tab.jpg        342w,
              ./img/our-collection/poltava-tab@2x.jpg     684w,
              ./img/our-collection/poltava-mob.jpg        335w,
              ./img/our-collection/poltava-mob@2x.jpg     670w
            "
            sizes="(min-width:1280px) 347px, (min-width:768px) 342px, (min-width:320px) 335px"
            src="./img/our-collection/poltava-mob.jpg"
            alt=""
          />
        </div>
        <div class="collection-name-wrapper">
          <h3 class="collection-img-title">
            august poltava women's blousering
          </h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="collection-img-wrapper">
          <img
            class="collection-img"
            srcset="
              ./img/our-collection/gorgany-desktop.jpg    347w,
              ./img/our-collection/gorgany-desktop@2x.jpg 694w,
              ./img/our-collection/gorgany-tab.jpg        342w,
              ./img/our-collection/gorgany-tab@2x.jpg     684w,
              ./img/our-collection/gorgany-mob.jpg        335w,
              ./img/our-collection/gorgany-mob@2x.jpg     670w
            "
            sizes="(min-width:1280px) 347px, (min-width:768px) 342px, (max-width:767px) 335px"
            src="./img/our-collection/gorgany-mob.jpg"
            alt=""
          />
        </div>
        <div class="collection-name-wrapper">
          <h3 class="collection-img-title">women's blouse gorgany</h3>
          <p class="collection-price">3350 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="collection-img-wrapper">
          <img
            class="collection-img"
            srcset="
              ./img/our-collection/crimea-desktop.jpg    347w,
              ./img/our-collection/crimea-desktop@2x.jpg 694w,
              ./img/our-collection/crimea-tab.jpg        342w,
              ./img/our-collection/crimea-tab@2x.jpg     684w,
              ./img/our-collection/crimea-mob.jpg        335w,
              ./img/our-collection/crimea-mob@2x.jpg     670w
            "
            sizes="(min-width:1280px) 347px, (min-width:768px) 342px, (max-width:767px) 335px"
            src="./img/our-collection/crimea-mob.jpg"
            alt=""
          />
        </div>
        <div class="collection-name-wrapper">
          <h3 class="collection-img-title">women's blouse crimea</h3>
          <p class="collection-price">4000 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="collection-img-wrapper">
          <img
            class="collection-img"
            srcset="
              ./img/our-collection/verkhovina-desktop.jpg    347w,
              ./img/our-collection/verkhovina-desktop@2x.jpg 694w,
              ./img/our-collection/verkhovina-tab.jpg        342w,
              ./img/our-collection/verkhovina-tab@2x.jpg     684w,
              ./img/our-collection/verkhovina-mob.jpg        335w,
              ./img/our-collection/verkhovina-mob@2x.jpg     670w
            "
            sizes="(min-width:1280px) 347px, (min-width:768px) 342px, (max-width:767px) 335px"
            src="./img/our-collection/verkhovina-mob.jpg"
            alt=""
          />
        </div>
        <div class="collection-name-wrapper">
          <h3 class="collection-img-title">men's shirt verkhovina</h3>
          <p class="collection-price">3100 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="collection-img-wrapper">
          <img
            class="collection-img"
            srcset="
              ./img/our-collection/mountain-desktop.jpg    347w,
              ./img/our-collection/mountain-desktop@2x.jpg 694w,
              ./img/our-collection/mountain-tab.jpg        342w,
              ./img/our-collection/mountain-tab@2x.jpg     684w,
              ./img/our-collection/mountain-mob.jpg        335w,
              ./img/our-collection/mountain-mob@2x.jpg     670w
            "
            sizes="(min-width:1280px) 347px, (min-width:768px) 342px, (max-width:767px) 335px"
            src="./img/our-collection/mountain-mob.jpg"
            alt=""
          />
        </div>
        <div class="collection-name-wrapper">
          <h3 class="collection-img-title">mountain men's shirt</h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="collection-img-wrapper">
          <img
            class="collection-img"
            srcset="
              ./img/our-collection/yasen-desktop.jpg    347w,
              ./img/our-collection/yasen-desktop@2x.jpg 694w,
              ./img/our-collection/yasen-tab.jpg        342w,
              ./img/our-collection/yasen-tab@2x.jpg     684w,
              ./img/our-collection/yasen-mob.jpg        335w,
              ./img/our-collection/yasen-mob@2x.jpg     670w
            "
            sizes="(min-width:1280px) 347px, (min-width:768px) 342px, (max-width:767px) 335px"
            src="./img/our-collection/yasen-mob.jpg"
            alt=""
          />
        </div>
        <div class="collection-name-wrapper">
          <h3 class="collection-img-title">men's shirt yasen</h3>
          <p class="collection-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
