<section class="your-order-section" id="order">
  <div class="container your-order-container">
    <div>
      <h2 class="yourorder-title">
        <span class="yourorder-title-part">Your order</span> is our priority:
        Personalized approach and quality of service
      </h2>
      <form class="your-order-container-form">
        <input
          type="text"
          name="name"
          id="full_name"
          class="order-input full__name"
          placeholder="Enter your full name"
          required
          pattern="text"
        />
        <input
          type="email"
          name="email"
          id="your_email"
          class="order-input your__email"
          placeholder="Enter your email"
          required
          pattern="email"
        />
        <textarea
          name="comment"
          id="your_comments"
          cols="63"
          rows="10"
          class="teaxterea-comment"
          placeholder="Comments"
        ></textarea>
        <button type="submit" class="submit-order-arrow">
          SEND
          <svg class="icon-order" width="26" height="19">
            <use href="./img/icons/symbol-defs.svg#icon-arow"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="img-container">
      <img
        srcset="
          ./img/order-img/order-girl-tablet.jpg     638w,
          ./img/order-img/order-girl-tablet@2x.jpg 1276w,
          ./img/order-img/order-girl-comp.jpg       524w,
          ./img/order-img/order-girl-comp@2x.jpg   1048w
        "
        sizes="(min-width:1280px) 524px, (max-width:1279px) 638px"
        src="./img/order-img/order-girl-comp@2x.jpg"
        alt="Photo Your Order"
        class="img-your_order"
      />
    </div>
  </div>
</section>
