.back-img-section {
  background-image: url(../img/back-sect-img/back-sect-mobail.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
@media screen and (min-resolution: 192dpi) and (min-width: 375px) {
  .back-img-section {
    background-image: url(../img/back-sect-img/back-sect-mobail.jpg);
    height: 550px;
    width: 375px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }
}
@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .back-img-section {
    background-image: url(../img/back-sect-img/back-sect-mobail@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .back-img-section {
    background-image: url(../img/back-sect-img/back-sect-tablet.jpg);
    width: 768px;
    height: 776px;
    flex-shrink: 0;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .back-img-section {
    background-image: url(../img/back-sect-img/back-sect-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .back-img-section {
    background-image: url(../img/back-sect-img/back-sect-comp.jpg);
    width: 1282px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .back-img-section {
    background-image: url(../img/back-sect-img/back-sect-comp@2x.jpg);
  }
}
